repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.11
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the import sorter.
    - id: ruff-check
      args: [ --select, I, --fix ]
    # Run the formatter.
    - id: ruff-format