[project]
name = "mr-ai-describer"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []


[dependency-groups]
dev = [
    "ruff",
    "ty",
    "pre-commit"
]

[tool.uv]
package = true

[tool.ruff]
target-version = "py312"